@attribute [Route(Rutas.RegistrarEstados)]
@using Galaxy.Tickets.Dto.Request.Estados;
@using Galaxy.Tickets.UI.Components.Pages.Mantenimientos.Estados.Componentes
@inject IEstadoServicio _servicio;
@inject NavigationManager Navegador;
@inject IToastService Toast;

<h3>Registro de Estados</h3>

<GroupBox Titulo="Datos de los estados" Class="mt-4">
    <Contenido>
        <FormEstado Request="Request" OnGuardarEvent="OnGuardar" />
    </Contenido>
</GroupBox>

<Loading IsLoading="IsLoading" />

@code {
    public EstadoRequest Request { get; set; } = new();
    public bool IsLoading { get; set; }

    public async Task OnGuardar()
    {
        IsLoading = true;

        try
        {
            var resultado = await _servicio.Registrar(Request);

            if (resultado != null)
            {
                if (!resultado.Success)
                {
                    Toast.ShowError("Error al registrar Estado");
                    return;
                }

                Toast.ShowSuccess("Estado creado con exito");
                Navegador.NavigateTo(Rutas.ListaEstados);
            }
        }
        catch (Exception ex)
        {
            Toast.ShowError($"Error al registrar estado: {ex.Message}");
        }
        finally
        {
            IsLoading = false;
        }
    }
}
